:root {
    --primary-color: #f8f8f8;
    --text-color: #333;
    --button-color: #000;
    --button-text-color: #fff;
    --subscribed-button-color: #f1f1f1;
    --subscribed-button-text-color: #000;
}

body {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    margin: 0;
}

.title {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: 400;
    margin: 20px 0;
    color: var(--text-color);
}

.subscribe-button {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 30px;
    padding: 15px 20px;
    cursor: pointer;
}

.js-is-subscribed-button {
    background-color: var(--subscribed-button-color);
    color: var(--subscribed-button-text-color);
}