body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    font-size: 24px;
    margin-top: 40px;
    margin-left: 20px;
    color: #333;
    text-shadow: 1px 1px 1px #ccc;
}

.todo-input-grid,
.todo-items-grid {
    display: grid;
    grid-template-columns: 180px 150px 100px;
    gap: 20px 10px;
    align-items: center;

    margin-top: 20px;
    margin-left: 20px;
}

.todo-input-grid {
    align-items: stretch;
}

.name-input,
.due-date-input {
    font-size: 16px;
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.name-input:focus,
.due-date-input:focus {
    outline: none;
} 

.add-todo-button {
    font-size: 16px;
    background-color: rgb(9, 137, 9);
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.delete-todo-button {
    font-size: 16px;
    padding: 13px 5px;
    background-color: rgb(141, 15, 15);
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.add-todo-button:hover {
    background-color: #007bff;
  }
  
.delete-todo-button:hover {
    background-color: #dc3545;
}